<div class="row page">
    <div class="col-md-9">
        <h1 class="display-4 page-header">Frequently Asked Questions</h1>

        <h3 class="">How It Works</h3>
        <p>Quisque ut odio vestibulum, porttitor enim placerat, congue massa. Suspendisse fermentum suscipit nisi, sed
            fringilla tortor facilisis vel. Donec semper tortor sit amet libero posuere, nec sagittis erat egestas.
            Quisque tincidunt eget enim eu vehicula. Sed auctor eros quis ornare sodales. </p>
        <hr/>
        <h3>Can I Get a Refund?</h3>
        <p>Quisque ut odio vestibulum, porttitor enim placerat, congue massa. Suspendisse fermentum suscipit nisi, sed
            fringilla tortor facilisis vel. Donec semper tortor sit amet libero posuere, nec sagittis erat egestas.
            Quisque tincidunt eget enim eu vehicula. Sed auctor eros quis ornare sodales. </p>
    </div>
</div>
