
<div *ngIf="auction">
    <h2>{{auction.item_name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <div class="row">
            <a (click)="previousState()" >
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </a>
            <a *jhiHasAnyAuthority="'ROLE_ADMIN'" style="margin-left: 15px"
                    [routerLink]="['/', { outlets: { popup: 'auction/'+ auction.id + '/edit'} }]"
                    replaceUrl="true">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </a>
        </div>
    </div>

    <div class="container-fluid jh-entity-details" id="auction-block">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 single-auction-col">
                <div class="inner container-fluid auction-item-details">
                    <div *ngIf="auction.item_picture" class="auction-block-img-wrap">
                        <img [src]="'data:' + auction.item_pictureContentType + ';base64,' + auction.item_picture" class="auction-block-img" alt="auction image"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 single-auction-col">
                <div class="inner container-fluid auction-item-details">
                    <div class="auction-action-bar single">
                        <h4>
                            <span class="left">
                                <small jhiTranslate="ninjabidApp.auction.auction_price">Auction Price</small><br/>
                                <span>$110.53</span>
                            </span>
                            <span class="timer">
                                <button type="button" class="btn btn-primary bid-now" jhiTranslate="ninjabidApp.auction.bid_now">Bid Now</button>
                                <small class="username">evertzapata</small><br/>
                                <span class="timer-time">00:00:15</span>
                            </span>
                        </h4>
                    </div>
                </div>
                <br/>
                <div class="under-bar-wrap single">
                    <div class="table table-responsive">
                        <table class="table" id="extra-info-wrap">
                            <thead>
                            <tr>
                                <th>
                                    <span jhiTranslate="ninjabidApp.auction.rrp">RPP</span>
                                </th>
                                <th>
                                    <span>{{auction.item_rrp | currency:'USD':true:'1.2-2' }}</span>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <span jhiTranslate="ninjabidApp.auction.maxp">Max Price</span>
                                </th>
                                <th><span>{{auction.max_price | currency:'USD':true:'1.2-2' }}</span> </th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table table-striped table-responsive" id="bidding-history-wrap">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    <span jhiTranslate="ninjabidApp.auction.bidder">Bidder</span>
                                </th>
                                <th>
                                    <span jhiTranslate="ninjabidApp.auction.amount">Amount</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>evertzapata</td>
                                <td>{{auction.item_rrp | currency:'USD':true:'1.2-2' }}</td>
                            </tr>
                            <tr>
                                <td>evertzapata</td>
                                <td>{{auction.item_rrp | currency:'USD':true:'1.2-2' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="prod-overview-wrap">
            <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 single-auction-overview">
                <div  class="inner container-fluid auction-item-details">
                    <h2 jhiTranslate="ninjabidApp.auction.bidder">Item Overview</h2>
                    <div [innerHTML]="auction.item_overview">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
