<div>
    <h2>
        <span jhiTranslate="ninjabidApp.auction.home.title">Auctions</span>
        <button class="btn btn-primary float-right create-auction" [routerLink]="['/', { outlets: { popup: ['auction-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ninjabidApp.auction.home.createLabel">
            Create new Auction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ninjabidApp.auction.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="container-fluid" *ngIf="auctions" id="auction-blocks">
        <div class="row" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div class="col-sm-8 col-md-6 col-lg-4 col-xl-4 auction-col " *ngFor="let auction of auctions ;trackBy: trackId">
                <div class="inner container-fluid jh-entity-details auction-list-block">
                    <h4 class="item-title">
                        <a [routerLink]="['../auction', auction.id ]">{{auction.item_name}}</a>
                    </h4>
                    <p class="small" jhiTranslate="ninjabidApp.auction.item_rrp" translateValues="{item_rpp: '{{auction.item_rrp | currency:'USD':true:'1.2-2' }}'}">
                        RPP {{auction.item_rrp | currency:'USD':true:'1.2-2' }}
                    </p>
                    <div class="auction-block-img-wrap">
                        <a *ngIf="auction.item_picture" [routerLink]="['../auction', auction.id ]">
                            <img [src]="'data:' + auction.item_pictureContentType + ';base64,' + auction.item_picture"  class="auction-block-img" alt="auction image"/>
                        </a>
                    </div>
                    <h6 class="label-info text-left max-auction-price" jhiTranslate="ninjabidApp.auction.max_price" translateValues="{max: '{{auction.max_price | currency:'USD':true:'1.2-2' }}'}">
                        Max {{auction.max_price | currency:'USD':true:'1.2-2' }}
                    </h6>
                    <div class="auction-action-bar">
                        <h4>
                            <span class="left">
                                <small jhiTranslate="ninjabidApp.auction.auction_price">Auction Price</small><br/>
                                <span>$101.53</span>
                            </span>
                            <span class="timer">
                                <button type="button" class="btn btn-primary bid-now" jhiTranslate="ninjabidApp.auction.bid_now">Bid Now</button>
                                <small class="username">evertzapata</small><br/>
                                <span class="timer-time">00:00:15</span>
                            </span>
                        </h4>
                    </div>
                    <br/>
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['../auction', auction.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down"></span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'auction/'+ auction.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down"></span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'auction/'+ auction.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
